<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Task Manager/css/mystyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />

    <title>Task Manager</title>
</head>

<body>
    <h1>My Super Task Manager</h1>
    <!-- <nav> </nav> -->

    <main class="container parent">
        <section class="list">
            <h3>Pending Task</h3>
            <button class="btn btn-dark" id="btnHideForm">Show/Hide form</button>
        </section>
        <!--  -->
        <section class="form">
            <h3>Task Info</h3>

            <!-- <i class="icon fas fa-bolt"></i> -->
            <i class="icon far fa-star" id="iImportant"></i>
            <div class="my-control">
                <label>Tittle</label>
                <input type="text">
            </div>

            <div class="my-control">
                <label>Description</label>
                <textarea rows="5"></textarea>
            </div>

            <div class="my-control">
                <label>Priority</label>
                <select>
                    <option>Low</option>
                    <option>Normal</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Urgent</option>
                </select>
            </div>

            <div class="my-control">
                <label>Due Date</label>
                <input type="datetime-local">
            </div>

            <div class="my-control">
                <label>Contact</label>
                <input type="text">
            </div>

            <div class="my-control">
                <label>Participants</label>
                <input type="number">
            </div>

            <div class="my-control">
                <label>Color</label>
                <input type="color">
            </div>
            <div class="centered">
                <button id="btnSave" class="btn btn-dark">Save Task</button>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Task Manager/javascript/app.js"></script>
</body>

</html>

<!--  Task
    Tittle
    Description
    Due date
    Color
    Priority
    Contact
    PArticipants
-->