html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    margin: 0;
}

.parent {
    display: flex;

}

.list {
    flex: 3;
}

.list h3 {
    text-align: center;
    margin-top: 10px;
}

.form {
    flex: 1;
}

.form h3 {
    text-align: center;
    margin-top: 10px;
}

.my-control {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;

}

.my-control label {
    width: 110px;
    text-align: center;
    margin-right: 5px;
}

.my-control input,
.my-control select,
.my-control textarea {
    flex-grow: 1;
    padding: 3px 5px;
}

.centered {
    text-align: center;
}

.icon {
    font-size: 35px;
    color: black;
    cursor: pointer;

}

.fas {
    color: rgb(235, 235, 86);
}

#task-list {
    padding: 15px 30px;
    margin-top: 10px;
}

.task {
    border: 1px solid rgb(0, 0, 0);
    padding: 7px 10px;
    margin-bottom: 10px;
    display: flex;
    color: white;
    border-radius: 5px;
    background-color: rgb(94, 94, 94);
}

.task label {
    display: block;
}

.task .head {
    flex: 3;
}

.task .middle {
    flex: 1;
}

.task .tail {
    flex: 1;
}